
*{
  box-sizing: border-box;
 
}
body,html{
  padding: 0;
  margin: 0;
  background-color: rgb(101, 90, 77);
}


#nav{
  background-color: rgb(123, 113, 102);
  overflow:hidden;
  padding: 10px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.2rem;
  position: sticky;
  z-index: 1000;
  top: 0;
  margin-bottom: 20px;
 
}
#nav a{
  text-decoration: none;
  color: rgb(224, 210, 237);
  padding: 5px 10px;
}

#nav a:hover{
  color: rgb(79, 6, 73);
  background-color: burlywood;
}