<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/arrays.css">
  
  <title>Document</title>
</head>

<nav id="nav">
  <a href="Home.html">Home</a>
  <a href="arrays.html">Arrays</a>
  <a href="jokeGenerator.html">Jokes</a>
  <a href="form.html">Form</a>
  <a href="events.html">Events</a>
  <a href="index1.html">Courses</a>
</nav>
<body>
  <button onclick=showName()>Name</button> <br> <br>
  <button onclick=allNames() >All Names</button>
  <p id="demo" style="background-color: blueviolet;"></p>
  <button id="btnfruits">Display Fruits</button>
  <p id="fruits" style="background-color: burlywood;"></p>

  <button id="changeColor">Change Color</button><br><br>
  <button id="hide">Hide paragraph below on hover</button><br><br>
  <p id="parahide">Hide this  Paragraph on hover</p><br><br>
  <button id="text">display text in paragraph</button>

  <!-- using addevent listener
  when you click btn changes bgcolour of the body
  when you click displays text in a paragraph
  when you hover your mouse overbutton,it hides a pargraph -->


  <script src="/arrays.js"></script>
</body>
</html>