<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/Home.css">
  <script src="/Home.js" defer></script>
  
</head>
<body>
  <header class="header">
    <div id="title">
      <h1>IST 4035 GROUP A</h1>
      <p>Class Project</p>
    </div>
  </header>
  <nav id="nav">
    <a href="Home.html">Home</a>
    <a href="arrays.html">Arrays</a>
    <a href="jokeGenerator.html">Jokes</a>
    <a href="form.html">Form</a>
    <a href="events.html">Events</a>
    <a href="index1.html">Courses</a>
</nav>

  <main id="mainArea">
    <div id="imageDiv">
      <figcaption id="figcap">
        Welcome to the school of computing sciences 💻🤗
      </figcaption>

    </div>
    
   
    
    <a href="index1.html" id="tribute-link" target="_blank">
      <button id="mainbutton">Visit Website</button>
    </a>
  </main>
  <footer>
    @USIU 2024
  </footer>
</body>
</html>