<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="index1.css">
</head>
<body>

  <nav id="nav">
    <a href="Home.html">Home</a>
    <a href="arrays.html">Arrays</a>
    <a href="jokeGenerator.html">Jokes</a>
    <a href="form.html">Form</a>
    <a href="events.html">Events</a>
    <a href="index1.html">Courses</a>
  </nav>

  <div id="tribute-info">
    <div id="section_info1">
      <h2>Programming languages covered</h2>
        <ul>
          <li>Python</li>
          <li>Javascript</li>
          <li>Java</li>
          <li>React</li>
          <li>Golang</li>
          <li>PHP</li>
        </ul>

    </div>
    <div id="section_2">
      <section id="table_section">
        <h1>Courses Offered</h1>
        <table>
          <caption>We offer the following:</caption>
          <thead>
            <tr>
              <th>Course</th>
              <th>Description</th>
              <th>Cost</th>
            </tr>
          </thead>

          <tbody>
          <tr class="rowcolor1">
            <td>Computer Science</td>
            <td class="table description">Designing  and building computers </td>
            <td>Ksh.450 000</td>
          </tr>
          <tr class="rowcolor2">
            <td>Information Technology</td>
            <td class="table description">Maintaining and troubleshooting</td>
            <td>Ksh.350 000</td>
          </tr>
          <tr class="rowcolor1">
            <td>Data Science</td>
            <td class="table description">Scientific  methods,processes</td>
            <td>Ksh.550 000</td> 
          </tr>
          <tr class="rowcolor2">
            <td>Cyber Security</td>
            <td class="table description">Practicing defending computers </td>
            <td>Ksh.250 000</td>
          </tr>
          <tr class="rowcolor1">
            <td>Networking</td>
            <td class="table description"> connecting computing devices to allow them to share resources and exchange data </td>
            <td>Ksh.650 000</td>
          </tr>
          <tr class="rowcolor2">
            <td>Forensic Science</td>
            <td class="table description">collecting, analyzing, and preserving digital evidence </td>
            <td>Ksh.550 000</td>
          </tr>
          </tbody>
        </table>

      </section>

    </div>
  </div>
</body>
</html>