<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="Main.css">
  <script src="Main.js" defer></script>
  <title>Document</title>
</head>
<body>
  <header >
    <div id="header">
      <h1>IST 4035 GROUP A</h1>
      <p>Class Project</p>
    </div>
   
  </header>
 <nav id="nav">
 <a href="#">arrays</a>
 <a href="#">Home</a>
 <a href="#">form</a>
 <a href="#">jokeGenerator</a>
 <a href="#">responsive</a>
 </nav> 
 
</body>
</html>